#cover {
    margin-top: -10px;
    padding: 150px 0 300px;
    background-image: url('../images/dumbledore.webp'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    background-position: right;
}

.cover-text {
    padding: 50px 20px;
    text-align: left;
}

.cover-text h2 {
    margin: 0 !important;
    color: var(--putih);
    font-size: 75px;
    font-weight: bolder;
    padding-left: 25px;
    text-shadow: 2px 2px 4px #000000;
}

.cover-text p {
    margin: 0 !important;
    color: var(--putih);
    font-size: 25px;
    padding-left: 25px;
    text-shadow: 2px 2px 4px #000000;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 768px) {

    #cover {
        padding: 350px 0 100px;
    }
    
    .cover-text h2 {
        margin: 0 !important;
        color: var(--putih);
        font-size: 50px;
        font-weight: bolder;
        text-shadow: 2px 2px 4px #000000;
    }
    
    .cover-text p {
        margin: 0 !important;
        color: var(--putih);
        font-size: 18px;
        text-shadow: 2px 2px 4px #000000;
    }
}