footer {
    background-color: #000;
    color: #fff;
}

#footer {    
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9;
}

.left-footer {
    padding: 75px 25px 25px;
    width: 50%;
}

.footer-name {
    padding-left: 5px;
    font-size: 25px;
}

.footer-name::after {
    content: '';
    border-bottom: 3px solid #fff;
    width: 50px;
    display: block;
    padding: 5px 0;
}

.footer-sosmed {
    display: flex;
    flex-direction: row;
}

.footer-sosmed a {
    color: #fff !important;
    padding: 20px 0;
    border-radius: 10px;
    margin-left: 5px;
    z-index: 9;
}

.sosmed-icon {
    height: 30px;
    width: 30px;
}

.right-footer {
    padding: 75px 25px 25px;
    text-align: right;
    width: 50%;
    position: relative;
}

.footer-title {
    padding-right: 10px;
    font-size: 20px;
}

.footer-value {
    padding: 10px 10px 20px 0;
}

.footer-value a {
    color: #fff !important;
    z-index: 99;
}

.canvas-hexagon {
    z-index: 1;
}

.footer-logo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.footer-logo img {    
    width: 100px;
    height: 100px;
    background-color: #fff;
}