header {
    background-color: var(--putih);
    color: var(--hitam);
    position: fixed;
    top: 0;
    z-index: 100;
    border-radius: 0 0 10% 10%;
    border-bottom: 2px solid #000;
    bottom: initial;
}

#header {
    padding: 0;
}

.logo-header {
    padding: 10px 25px;
    float: left;
    width: 30%;
    cursor: pointer;
}

.logo-header h1 {
    float: left;
}

.logo-header img {
    width: 30px;
    height: auto;
    float: left;
    padding: 10px 0;
}

.menu-header {
    padding: 10px 25px;
    float: right;
}

nav {
    display: flex;
}

.list {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 5px;
}

.line {
    fill: none;
    stroke: #000;
    width: auto;
    height: 25px;
}

.line-top {
    display: none;
}

.list h3 {
    padding: 0 5px;
}

@media screen and (max-width: 768px) {
    header {
        background-color: var(--putih);
        color: var(--hitam);
        position: fixed;
        bottom: 0;
        top: initial;
        z-index: 100;
        border-radius: 10% 10% 0 0;
        border-top: 2px solid #000;
    }

    .logo-header img {
        width: 30px;
        height: auto;
        float: left;
        padding: 10px 0;
    }

    .logo-header,
    .menu-header {
        padding: 5px 10px;
    }

    .list h3 {
        display: none;
    }

    .list {
        padding: 10px 5px;
    }


    .line-top {
        display: block;
        width: auto;
        height: 25px;
        fill: none;
        stroke: #000;        
    }

}